@model Queue<Character>
@{
    ViewData["Title"] = "Queue";
}

<div class="text-center">
    <h1 class="display-6">Queue Creator</h1>
</div>
<a asp-controller="Queue" asp-action="Add" class="enqueue"><b>Enqueue Character</b></a>
<div style="float: right;">
<a asp-controller="Queue" asp-action="Index" asp-route-id="Dequeue" class="dequeue"><b>Dequeue Character</b></a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Priority</th>
            <th>Image</th>
            <th>Name</th>
            <th>Vision</th>
            <th>Weapon</th>
            <th>Last Seen</th>
            <th>Region</th>
        </tr>
    </thead>
    @foreach (var character in Model)
    {
        <tr>
            <td>@character.Priority</td>
            <td><img src="~/images/@character.ImageName" width="100" height="100" alt="Picture of @character.Name" title="Picture of @character.Name" /></td>
            <td>@character.Name</td>
            <td>@character.Vision</td>
            <td>@character.Weapon</td>
            <td>@character.LastSeen</td>
            <td>@character.Region</td>
        </tr>
    }
</table>
