@model LinkedList<Character>
@{
    ViewData["Title"] = "Character Viewer";
}

<div class="row">
    <div class="col-sm-2">
        <h3 class="mt-3">Sort by Element</h3>
        <div class="list-group">
            <a asp-action="Index" asp-route-id="Anemo" class="list-group-item">Anemo</a>
            <a asp-action="Index" asp-route-id="Cryo" class="list-group-item">Cryo</a>
            <a asp-action="Index" asp-route-id="Dendro" class="list-group-item">Dendro</a>
            <a asp-action="Index" asp-route-id="Electro" class="list-group-item">Electro</a>
            <a asp-action="Index" asp-route-id="Geo" class="list-group-item">Geo</a>
            <a asp-action="Index" asp-route-id="Hydro" class="list-group-item">Hydro</a>
            <a asp-action="Index" asp-route-id="Pyro" class="list-group-item">Pyro</a>
        </div>
        <h3 class="mt-3">Sort by Weapon</h3>
        <div class="list-group">
            <a asp-action="Index" asp-route-id="Bow" class="list-group-item">Bow</a>
            <a asp-action="Index" asp-route-id="Catalyst" class="list-group-item">Catalyst</a>
            <a asp-action="Index" asp-route-id="Claymore" class="list-group-item">Claymore</a>
            <a asp-action="Index" asp-route-id="Polearm" class="list-group-item">Polearm</a>
            <a asp-action="Index" asp-route-id="Sword" class="list-group-item">Sword</a>

        </div>
        <h3 class="mt-3">Sort by Region</h3>
        <div class="list-group">
            <a asp-action="Index" asp-route-id="Inazuma" class="list-group-item">Inazuma</a>
            <a asp-action="Index" asp-route-id="Liyue" class="list-group-item">Liyue</a>
            <a asp-action="Index" asp-route-id="Mondstadt" class="list-group-item">Mondstadt</a>
            <a asp-action="Index" asp-route-id="Snezhnaya" class="list-group-item">Snezhnaya</a>
            <a asp-action="Index" asp-route-id="Sumeru" class="list-group-item">Sumeru</a>
        </div>
    </div>
<div class="col-sm-10">
<div class="text-center">
    <h3 class="display-6">Character Viewer</h3>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Vision</th>
            <th>Weapon</th>
            <th>Last Seen</th>
            <th>Region</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var character in Model) {
        <tr>
            <td><img src="~/images/@character.ImageName" width="100" height="100" alt="Picture of @character.Name" title="Picture of @character.Name" /></td>
            <td>@character.Name</td>
            <td>@character.Vision</td>
            <td>@character.Weapon</td>
            <td>@character.LastSeen</td>
            <td>@character.Region</td>
        </tr>
        }
    </tbody>
</table>
</div>
</div>
